<ion-menu side="start" contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Sensores e Imagens</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
      <ion-menu-toggle><ion-item [routerLink]="['home']"><ion-icon name="home" color="tertiary" slot="start"></ion-icon>Home</ion-item></ion-menu-toggle>
      <ion-menu-toggle><ion-item [routerLink]="['movimento']"><ion-icon name="globe" color="tertiary" slot="start"></ion-icon>Movimento</ion-item></ion-menu-toggle>
      <ion-menu-toggle><ion-item [routerLink]="['qrcode']"><ion-icon name="basket" color="tertiary" slot="start"></ion-icon>QR-Code</ion-item></ion-menu-toggle>
      <ion-menu-toggle><ion-item [routerLink]="['imagens']"><ion-icon name="today" color="tertiary" slot="start"></ion-icon>Imagens</ion-item></ion-menu-toggle>
  </ion-content>
</ion-menu>
<ion-router-outlet id="main-content"></ion-router-outlet>
